<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Libary</title>
</head>
<body>
    <p>
    Before
    <br>
    <%-body%>
    <br>
    After
</p>
    
</body>
</html>